header {
    height: 80px;

    background-image: url("../imgs/fondoinm.png"), linear-gradient(rgb(231, 101, 14), rgb(7, 7, 6));
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ee950f;
    background-position: center;
}

.title-content{
    background-color: black;
    padding: 1rem;
}

.contenedor-foto{
    text-align: center;
}
.foto-activo{
    width: 200px;
    filter: drop-shadow(10px 10px 6px #999898);
    border-radius: 5%;
    border: solid rgb(186, 184, 184) 5px;
}
.logo{
    max-width: 120px;
}